body {
  background-color: rgb(1, 116, 96);
}
.row{
  margin-top:3vh;
}
.edit-user {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}

.profile-pic {
  padding: 1vh;
  margin-bottom: 1vh;
  background-color: darkgrey;
  text-align: center;
  border-radius: 3vh;
  margin-top: 1vh;
}

.user-pic {
  width: 20vw;
  margin: 0 auto;
}

.personal-info {
  padding: 5vh;
  margin-bottom: 4vh;
  padding-top: 1vh;
  background-color: darkgrey;
  color: #fff;
  border-radius: 3vh;
  margin-top: 1vh;
  margin-left: 3vh
}

.heading {
  border-bottom: 3px solid #fff;
  padding-bottom: 10px;
}

section {
  height: 100vh;
  margin-bottom: 5vh;
}

.botonColor {
  width: 15vh;
  height: 3vw;
  background-color: rgb(1, 116, 96);
  color: white;
  font-size: 15px;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  margin-top: 3vh;
}

.botonColor:hover{
  background-color: gray;
}
.imgUser{
  border-radius: 3vw;
}
